.form{
  width: 80%;
  max-width: 500px;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; 
  box-shadow: inset 0 1px 20px 1px #d0d0d0;
  @include gradient-color;
  animation: apparition 3s;

    input,textarea{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  .message, .form-message{
    margin-top: 5px;
    font-size: 20px;
  }
  label{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    display: block;
    text-align: center;
  }
}

  /* mobile */
  @media screen and (min-width:320px) and (max-width:750px){
  .contacts{
    display: flex;
    flex-direction: column;
    .contact-form{
      display: flex;
      flex-direction:column;
      align-items: center;
      margin-left: 5%;
      form{
        width: 90%;
        margin-left: inherit;
      }
      
    }
    .contact{
      width: 100%;
      position: inherit;
      .contact-infos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-top-left-radius: inherit;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        .address, .email, .phone, .credits{
          position: initial;
          margin-top: 10px;
          .content{
            h4{
              margin-bottom: 5px;
            }
          }
        }
        .logo{
          display: none;
        }
        
      }
  
    }
  }
      
}

/* tablette */
@media screen and (min-width:750px) and (max-width:1100px){
  .contact{ 
    position: inherit; 
    width: 100%;

    .contact-infos{
      display: flex;
      position: inherit;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-top-left-radius: inherit;
      width: 100%;
      margin-left: 0;
      margin-top: auto;
      .address, .email, .phone, .credits{
        position: initial;
        margin-top: 10px;
        .content{
          h4{
            margin-bottom: 5px;
          }
        }
      }
      .logo{
        display: none;
      }

    }
  }

  .contact-form{
    display: flex;
    flex-direction:column;
    align-items: center;
    form{
      margin-left: 0;
      h2{
        &::after{
          left:200px
        }
  
    }
    }
  }

}

/* grand ecran */
@media screen and (min-width:1500px) {
  .contact-infos{
    margin-top: 0%;
  }
}



